<%= link_to  'Gruplar ve Takımlar Listesi' , gruplarvetakimlar_path %>
<h2> Merhaba! <% if current_user %> <%= current_user.first_name%> <% end%></h2>
<p>Euro 2016 tahmin yarışmasına hoş geldiniz. </p>
<p>Amacımız turnavadaki yarışmaların skorlarını tahmin etmek ve turnuva sonunda en iyi tahmini yapabilmek</p>

<h2>Nasıl Çalışır !</h2>
<li>Turnuvadaki maçların başlamasına bir saat kala Maç Takvimi sayfasına girip skorları tahmin edin. Sakın saati kaçırmayın yoksa tahminiz boş kalır </li>
<li>Bonus sayfasındaki bonus sorularını cevaplayın , bonu sorular ilk maçın başlama tarihine kadar girilmelidir. Turnuva başladıktan sonra giriş kapanacaktır</li>
<h3> Nasıl Puan Kazanacağım?</h3>
