<h1>Administrator Ana Sayfası</h1>
<br>
<%= link_to 'Gruplar', admingruplar_path %>
<br>
<%= link_to 'Takımlar' ,admintakimlar_path  %>
<br>
<%= link_to 'Maç Takvimi', adminschedule_path %>
<br>
<%= link_to 'Üyeler', userlist_path  %>